<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <!-- <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div> -->


      <div class="text-center">
        <button class="btn btn-primary btn1" (click)="onviewBookings()">View Bookings</button>
        <!-- <a routerLink="bookings">View Bookings</a> -->
        <button class="btn btn-primary" (click)="onhideBookings()">Hide Bookings</button>
        <br><br>
        <app-bookings *ngIf="viewBook"></app-bookings>
      </div>
      <br>
      <div class="text-center">
        <button class="btn btn-primary btn1" (click)="onAddBooking()">Add Booking</button>
        <button class="btn btn-primary" (click)="onCancelAddBooking()">Cancel</button>
        <br><br>
        <app-add-booking *ngIf="addBook"></app-add-booking>
      </div>
      <br>
      <div class="text-center">
        <button class="btn btn-primary btn1" (click)="onDeleteBooking()">Delete Booking</button>
        <!-- <button class="btn btn-primary" (click)="onCancelAddBooking()">Cancel</button> -->
        <br><br>
        <app-delete-booking *ngIf="deleteBook"></app-delete-booking>
      </div>

    </div>
  </div>
</div>
